---
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  withViewTransitions?: boolean;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/page-2">Page 2</a>
        </nav>
      </header>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
