---
import Layout from "../layouts/Layout.astro";
import Carousel from "~";

const imagesPreview = [
  "https://a.storyblok.com/f/95455/1350x1080/3ef7748922/p5240368.jpg/m/500x0/filters:format(webp)",
  "https://a.storyblok.com/f/95455/1350x1080/231d2407ea/p4030184.jpg/m/500x0/filters:format(webp)",
  "https://a.storyblok.com/f/95455/1350x1080/4aee2a00f4/p5240221.jpg/m/500x0/filters:format(webp)",
  "",
];

const images = [
  "https://a.storyblok.com/f/95455/1350x1080/3ef7748922/p5240368.jpg/m/1000x0/filters:format(webp)",
  "https://a.storyblok.com/f/95455/1350x1080/231d2407ea/p4030184.jpg/m/1000x0/filters:format(webp)",
  "https://a.storyblok.com/f/95455/1350x1080/4aee2a00f4/p5240221.jpg/m/1000x0/filters:format(webp)",
  "",
];
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="entry">
      <ul
        class="entry__entries"
        id="carouselTargetList"
      >
        {
          imagesPreview.map((img, i) => {
            return (
              <li class="entry__elem">
                <a
                  href={`./?image=${i}`}
                  data-carousel-index={i}
                  class="entry__link"
                >
                  <img
                    src={img}
                    alt=""
                    width="1350"
                    height="1000"
                    class="entry__img"
                  />
                </a>
              </li>
            );
          })
        }
      </ul>
      <Carousel>
        <ul
          id="slides"
          class="carousel__slides"
        >
          {
            images.map((img: any) => (
              <li class:list={["carousel__slide"]}>
                <img
                  src={img}
                  alt=""
                  width="1350"
                  height="1000"
                  class="entry__img"
                />
              </li>
            ))
          }
        </ul>
      </Carousel>
    </div>
  </main>
</Layout>

<style lang="scss" is:global>
  .entry {
    &__entries {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__elem {
      &:hover {
        cursor: pointer;
      }
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__link {
      display: block;
    }
  }
</style>
