---
import { images } from "src/data/example";
import Carousel from "~/src/Carousel.astro";
import Photo from "~/src/Photo.astro";
---

<div
  class="entry"
  transition:animate="slide"
>
  <Carousel images={images} />
  <ul
    class="entry__entries"
    id="carouselTargetList"
  >
    {
      images.map((img, i) => {
        return (
          <li class="entry__elem">
            <a
              href={`?image=${i}`}
              data-carousel-index={i}
              class="entry__link"
              aria-label={`Open image number ${i + 1}`}
            >
              <Photo {...img} />
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  .entry {
    &__entries {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__elem {
      &:hover {
        cursor: pointer;
      }
    }

    &__img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      min-height: 100%;
    }

    &__link {
      display: block;
    }
  }
</style>
